*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00FFFF;
}

.container{
    background-color: #48D1CC;
    min-height: 50vh;
    display: flex;
    padding: 10px;
    gap: 16px;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aluno {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
}

.aluno_nota{
    font-size: 120px;
}

.respostas{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#nome_aluno{
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: lighter;
    display: flex;
    text-align: center;
    border: 2px solid rgb(0, 0, 255);
}

#nota_aluno{
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    text-align: center;
    border: 2px solid rgb(0, 0, 255);
}

#adicionar{
    width: 5vw;
    height: 5vh;
    border: 3px solid rgb(0, 9, 94);
    border-radius: 100px;
    background-color: rgb(77, 91, 223);
    color: White;
    font-weight: bolder;
}

.verde{
    background-color: rgb(11, 136, 0);
    border: 4px solid rgb(16, 197, 0);
}

.vermelha{
    background-color: rgb(110, 0, 0);
    border: 4px solid rgb(189, 0, 0);
}